

.global-call-to-action{
    margin-bottom: 95px;
}
.global-title{
    padding: 200px 0 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("./img/aboutus/about-sub-header.jpg");
}
.global-title .container{
    max-width: 1200px;
}

.global-header{
    top: 25px;
    position: relative;
    padding: 45px 45px 0px;
    background: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.global-sub-title{
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #6c6d8b;
}
.global-page-title{
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.65px;
    color: #01c3ca;
}

.portfolio-details{
    margin-top: 80px;
    padding: 0 15px;
}
.portfolio-img{
    position: relative;
    text-align: center;
    margin-bottom: 97px;
    display: block;
}
.portfolio-img-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.brand-name{
    font-size: 17px;
    font-weight: normal;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: 1.35;  
    letter-spacing: -0.25px;  
    color: #ffffff;
}
.brand-title{
    font-size: 44px;
    font-weight: bold;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: 1.23;  
    letter-spacing: -0.65px;  
    text-align: center;  
    color: #ffffff;
}
.container-inner{
    padding: 0 190px;
}
.portfolio-title{
    font-size: 22px;
    font-weight: 600;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: normal;  
    letter-spacing: -0.32px;  
    color: #151416;
    margin-bottom: 34px;
}
.paragraph p{
    font-size: 14px;
    font-weight: normal;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: 1.79;  
    letter-spacing: -0.32px;  
    color: #7e879a;
}
.some-img{
    margin: 70px 0;
}
.banar-img{
    margin-top: 54px;
    margin-bottom: 69px;
}


@media (max-width: 991px){
    .brand-title br{
        display: none;
    }
    .container-inner {
        padding: 0 90px;
    }
}

@media (max-width: 500px){
    .brand-title {
        font-size: 25px;
    }
    .container-inner {
        padding: 0;
    }
}